{% extends "generic/layout.html.twig" %}

{% block title %} Service Piray {% endblock %}

{% block main %}
<div class="row">
    {% for component in service_component %}
        <div class='col-md-3'><a href="{{ component.action }}">{{ component.name }}</a></div>
    {% endfor %}
</div>
{% endblock %}
