{% if breadcrumbs %}
<div class="text-right">
    <ol class="breadcrumb platform-customize-breadcrumb">
    {% for breadcrumb in breadcrumbs %}
        {% if loop.last %}
        <li>{{ breadcrumb.title }}</a></li>
        {% else %}
        <li><a href="{{ base_url }}{{ breadcrumb.link }}">{{ breadcrumb.title }}</a></li>
        {% endif %}
    {% endfor %}
    </ol>
</div>
{% endif %}
