{% extends "generic/layout.html.twig" %}

{% block title %} Contact Piray {% endblock %}

{% block main %}
<div class="page-header">
    <h2>Contact Piray <small>any problem we will solve it</small></h2>
</div>
If you have any problem, please contact us.
{% endblock %}
